

<head>
  <style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 15px;
  }
  </style>
</head>
<body>
  <h1>Elastic search for Urls</h1>

  <%= form_for :urls_search, url: urls_search_path, method: :get do |form| %>
  <%= form.text_field :query, value: params[:urls_search].presence && params[:urls_search][:query] %>
  <%= form.submit 'Search' %>
  <% end %>

  <% unless @urls.nil? %>
  <% if @urls.empty? %>
    <h2>No posts found matching your query.</h2>
  <% else %>
    <h2>Search results</h2>

    <table style="width: 100%;">
      <thead>
         <tr>
           <th>Long Url</th>
           <th>Short Url</th>
           <th>domain Name</th>
         </tr>
      </thead>

      <tbody>
        <% @urls.each do |url| %>
          <tr>
            <td><%= url.long_url %></td>
            <td><%= url.short_url %></td>
            <td><%= url.domain_name %></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  <% end %>
  <% end %>

  <%=link_to 'back',  root_path %>

</body>